body {
  background-color: #C1DBF0;
  text-align: center;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
}

p {
  font-family: sans-serif;
}


.website-title{
  height: 140px;
  background-color: #84b4db;
  border-bottom: 2px solid white;
  box-shadow: 10px 5px 10px grey;

}

.title-text{
  font-size: 1.9em;
  color: #1d2d50;
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: 'Noto Serif', serif;
  font-weight: bolder;

}

.navigation {
  background-color: #1d2d50;
  color: #ffffff;
  z-index: 4;

}

.navigation-bar {
  position: relative;
  font-family: 'Noto Serif', serif;
  font-size: 1.2em;
  box-shadow: 10px 5px 10px grey;

}

.navbar-nav{
  position: relative;
  left: 50%;
  transform: translateX(-47%);
  width: auto;

}


.nav-link {
  color: white !important;
  padding-left: 25px !important;
  padding-right: 25px !important;

}

.nav-link:hover {
  color: grey !important;
}

.dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
  transition: .5s ease all;
  z-index: 2;
}

.dropdown-menu.show {
  display: block;
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  transition: .5s ease all;
}

.slide-show {
  max-width: 50%;
  max-height: 40%;
  border: 1px solid grey;
}

.cover-image {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 60%;
  height: 500px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.carousel-buttons {
  height: 100%;
  width: 50%;
  opacity: .5;
}

.academics {
  width: auto;
  background-color: #1d2d50;
  text-align: center;
  border-top: 2px solid #1d2d50;
  margin-bottom: 3px;
  /* box-shadow: 10px -5px 20px grey; */
}

.academics-title {
  color: #ffffff;
  padding-top: 2%;
  padding-bottom: 0.5%;
  font-family: 'Noto Serif', serif;
}

.card{
  height: auto;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 6.5%;
  border: 1px solid black;
  background-color: #ecf4f3;
}

.card-icon{
  width: 70%;
  margin:5% 50%;
  transform: translateX(-50%);
  border-radius: 70%;
}

.card-button{
  padding: 3%;
  margin-bottom: 3%;
  width: 60%;
}

.card:hover {
  box-shadow: 5px 5px 20px grey;
}


.footer{
  padding: 2%;
  text-align: left;
  background-color: #133b5c;
  color: white;
  box-shadow: 10px -5px 20px grey;
}

.rights {
  width: auto;
  height: 50px;
  margin-top: 3px;
  text-align: center;
  font-size: 0.9em;
  background-color: #0278ae;
}

.text-rights {
  padding-top: 1%;
  color: #ffffff;
  font-style: italic;
}

/* about us page */
.about-cell {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding-left: 1%;
  padding-right: 1%;
  text-align: left;
}

.title {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: 'Noto Serif', serif;
  font-size: 2em;
}

/* contact us  */
.contact-cell {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width:auto;
  margin-top: 2%;
  margin-bottom: 2%;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding-left: 1%;
  padding-right: 1%;
  text-align: left;
}

.map {
  left: 5%;
  margin-top: 1%;
  margin-bottom: 4%;
  padding-right: 1%;
  object-fit: contain;
}

.map-widget{
  border: 1px solid grey;
  border-radius: 2%;
  box-shadow: 4px 5px 20px grey;
}

.address {
  height: inherit;
  font-size: 1.25em;
  color: #041539;
  border-left: 1px solid grey;
  padding: 1%;
  padding-left: 3%;
}

*/

/* photo-gallery */
.gallery-carousel {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  padding-top: 5%;
}

.gallery-slide {
  min-height: 500px;
  max-height: 500px;
  margin-top: 1%;
  margin-bottom: 2%;
}


.btech {
  text-align: center;
}

.intro-deptt {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  text-align: center;
  margin: 5% 0;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.year-title {
  margin: 6%;
  font-weight: bold;
  text-align: center;
}

.year {
  text-align: left;
  background-color: #1d2d50;
  color: #ffffff;
  margin-left: 11%;
  margin-top: 1%;
  margin-bottom: 4%;
  border: 1px solid grey;
  border-radius: 2%;
  box-shadow: 4px 5px 20px grey;

}

/* coordination team */

#co-ordination{
  text-align: center;
}


.team-head{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid grey;
  border-radius: 3%;
  padding: 2%;
  background-color: #1d2d50;
  color: #ffffff;
}

.team-member{
  border: 1px solid grey;
  border-radius: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #1d2d50;
  color: #ffffff;
}

.team-icon{
  width: 40%;
  /* padding-bottom: 8%; */
  border-radius: 50%;

}



/* student */
.member{
  background-color: #1d2d50;
  color: #ffffff;
  margin-left: 6.5%;
  margin-top: 1%;
  margin-bottom: 4%;
  border: 1px solid grey;
  border-radius: 2%;
  box-shadow: 4px 5px 20px grey;
  word-wrap: break-word;
  padding-top: 1%;
  padding-bottom: 1%;
  word-wrap: break-word;
}


.team-card-icon{
  margin-top: 12%;
  margin-bottom: 12%;
}

.student-info{
  margin-top: 5%;
  margin-bottom: 5%;
}


.temp{
  background-color: #1d2d50;
  margin-left: 6.5%;
  border: 1px solid grey;
  border-radius: 2%
}


/* invitation */

.invitation{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding: 1%;
  text-align: left;
}

/* facilities */

.facility{
  border: 1px solid grey;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 6.5%;
  background-color: #1d2d50;
  padding: 2%;
  border-radius: 2%;
  color: #ffffff;
  box-shadow: 10px 9px 20px grey;

}

.facility-card-icon{
  border-radius: 50%;
  margin-bottom: 9%;
}


/* recruitment */

.recruitment{
width: 80%;
text-align: center;
border-right: 1px solid grey;
border-left: 1px solid grey;
text-align: left;
margin-top: 2%;
margin-bottom: 2%;
}

.recruiter-logo{
  width: 70px;
  height: 70px;
  margin: 3%;
  border-radius: 50%;
  box-shadow: 10px 9px 20px grey;
  background-color: white;
}



/* photo gallery */
/*
.image-overlay {
  position: relative;

  width: 100%;
  color: white;

}

.overlay{
  position: absolute;
  bottom: 15%;
  margin-left: 4%;
  background-color: #000000;
  padding: 1%;
} */


.gallery-block{
	padding-bottom: 60px;
	padding-top: 60px;
}

.gallery-block .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold;
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease;
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.gallery-block.cards-gallery .card-body {
  text-align: center;
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px;
}

.gallery-block.cards-gallery a {
  color: #212529;
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none;
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
	}
}
